<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a matrix effect</title>
</head>

<body>
    <div class="output"></div>
    <script>
        const canvas = document.createElement("canvas");
        //add the content to 2d
        const ctx = canvas.getContext("2d");
        canvas.setAttribute("width", "500");
        canvas.setAttribute("height", "300");
        document.body.prepend(canvas);
        const colVal = [];
        for (let x = 0; x < 50; x++) {
            colVal.push(0);
        }
        function matrix() {
            //setting background color to be black with a .05 opacity
            ctx.fillStyle = "rgba(0,0,0,.05)";
            ctx.fillRect(0, 0, canvas.width, canvas.height);
            //setting the font color to green
            ctx.fillStyle = "green";
            colVal.map((posY, index) => {
                //alternate between 0 or 1 using math.random
                //generate a value of 0 or 1 for the text using ternary operator
                let output = Math.random() < 0.5 ? 0 : 1;
                //set the pos of x using the index value * 10, which is the start of each new letter.
                //using the index from colVal array will create seperate columns of moving characters.
                let posX = (index * 10) + 10;
                ctx.fillText(output, posX, posY);
                //adding a condition that checks if the position of y is > 100 + a random value of 0 - 300
                //the larger the number the longer it will fall on y position. Its random so not all will end
                //at the same spot.
                if (posY > 100 + Math.random() * 300) {
                    colVal[index] = 0;
                    //if the position of y is not past the random value & 100 increment the value of the index
                    //item + 10. assign value of y back to the item in the colVal array. This will move the 
                    //letter down 10 pixels on the canvas within the next draw round.
                } else {
                    colVal[index] = posY + 10;
                }
            });
        }
        setInterval(matrix, 50);
    </script>
</body>

</html>